.ui-combobox {
    position: relative;
    display: inline-block;
    margin-right: 2.6em;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    font-size: 1em;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
    background: #fff;
}

.ui-menu {
    padding: 0;
    min-width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
}

.ui-menu li {
    border-bottom: 1px solid #ececec;
}

.ui-menu .ui-menu-item a {
    border-radius: 0;
    padding: 6px 26px;
}

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
    background: #e5e5e5;
    border: 0;
    color: inherit;
}

.ui-menu .ui-menu-item a.ui-state-hover, 
.ui-menu .ui-menu-item a.ui-state-active {
    margin: 0;
}

.ui-menu .ui-autocomplete-category {
    color: #fff;
    background-color: #000;
    clear: left;
    padding: 6px 32px;
    text-transform: uppercase;
    font-weight: bold;
}
