@mixin background-image-with-gradient( $location, $color1, $position1, $color2, $position2, $url ) {
	background-image: url($url);  // Fallback
	background-image:    -moz-linear-gradient($location, $color1 $position1, $color2 $position2), url($url);
	background-image: -webkit-linear-gradient($location, $color1 $position1, $color2 $position2), url($url);
	background-image:      -o-linear-gradient($location, $color1 $position1, $color2 $position2), url($url);
	background-image:     -ms-linear-gradient($location, $color1 $position1, $color2 $position2), url($url);
	background-image:         linear-gradient($location, $color1 $position1, $color2 $position2), url($url);
}

@mixin background-gradient( $color: #292e3a, $reverse-gradient: 0 ) { 
    
    // $color: #292e3a !default;
    $secondary-color: desaturate( darken($color, 3%), 5%); 

    @if $reverse-gradient == 0 {
        background: $color; // Fallback
        @include background-image( linear-gradient( $color, $secondary-color ) );
    } @else { 
        background: $secondary-color; // Fallback
        @include background-image( linear-gradient( $secondary-color, $color ) );
    }
    box-shadow: 0 1px 0 0px rgba(255,255,255, 0.2) inset, 0px 1px 0px rgba(255,255,255,0.2);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}