<div id="timerWrapper"></div>
<div id="questionWrapper"></div>
<div id="actionsWrapper">
	<div class="quitButton">
		<button>{{msg "QuizText.quit"}}</button>
	</div>
	<div class="nextButton">
		<button>{{msg "QuizText.next"}}</button>
	</div>
	<div class="passButton">
		<button>{{msg "QuizText.pass"}}</button>
	</div>
</div>