<div id="timerWrapper"></div>
<div id="questionWrapper"></div>
<div id="actionsWrapper">
	<div class="quitButton">
		<button>Quit</button>
	</div>
	<div class="nextButton">
		<button>Next</button>
	</div>
	<div class="passButton">
		<button>Pass</button>
	</div>
</div>