<div id="timerWrapper"></div>
<div id="questionWrapper"></div>
<div id="actionsWrapper">	
		<button id="quitButton">{{msg "QuizText.quit"}}</button>	
		<button id="nextButton" disabled="disabled">{{msg "QuizText.next"}}</button>
		<button id="passButton">{{msg "QuizText.pass"}}</button>	
</div>