<div id="resultHeader"><div></div></div>
<div id="scoreWrapper"><div id="scoreHeader">Your score</div><div id="score"><span></span></div></div>
<div id="resultActions"><button id="restartGame">ReStart Game</button>