<div id="resultHeader"><div></div></div>
<div id="scoreWrapper"><div id="scoreHeader">{{msg "QuizText.yourScore"}}</div><div id="score"><span></span></div></div>
<div id="resultActions"><button id="restartGame">{{msg "QuizText.restartGame"}}</button>